  <nav class="c-nav">
        <div class="c-nav__container">
        <a class="c-nav__return" href="./gamelobby">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.4375 21H6.5625" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.375 9.1875L6.5625 21L18.375 32.8125" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            <h2>Keer Terug</h2>
        </a>
    </div>
    </nav>
        <div class="container">
            <form class="c-roomsearch">
            <label class="c-roomssearch__zoeklabel c-label" for="kamerzoeken">
                <input class="c-input js-roomssearch" type="text" name="kamerzoeken" id="kamerzoeken" placeholder="Zoek kamer naam">

            </label>

            

            <select name="" id="filtersroom" class=" c-input">
                <option value="alfabetisch">Alfabetisch</option>
                <option value="privé">Privé</option>
                <option value="openbaar">Openbaar</option>
                <option value="recentste">Recentste</option>
            </select>
            <button type="button" class="c-button js-makeroom"> Maak een kamer aan</button>
        </form></div>
        <div class="container js-rooms c-rooms">
        <% if (rooms && rooms.length > 0) { %>
          
            <% rooms.forEach(room => { %>
                <div class="c-room">
                  
                        <div class="c-room__info">
                            <% if(room.password != null) { %>               
                                <h3 class="c-room__title"><%= room.name %>
                                    <svg class="c-room__lock" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M26 10H22V7C22 5.4087 21.3679 3.88258 20.2426 2.75736C19.1174 1.63214 17.5913 1 16 1C14.4087 1 12.8826 1.63214 11.7574 2.75736C10.6321 3.88258 10 5.4087 10 7V10H6C5.46957 10 4.96086 10.2107 4.58579 10.5858C4.21071 10.9609 4 11.4696 4 12V26C4 26.5304 4.21071 27.0391 4.58579 27.4142C4.96086 27.7893 5.46957 28 6 28H26C26.5304 28 27.0391 27.7893 27.4142 27.4142C27.7893 27.0391 28 26.5304 28 26V12C28 11.4696 27.7893 10.9609 27.4142 10.5858C27.0391 10.2107 26.5304 10 26 10ZM17 19.8288V23C17 23.2652 16.8946 23.5196 16.7071 23.7071C16.5196 23.8946 16.2652 24 16 24C15.7348 24 15.4804 23.8946 15.2929 23.7071C15.1054 23.5196 15 23.2652 15 23V19.8288C14.3328 19.5929 13.7704 19.1287 13.4124 18.5183C13.0543 17.9079 12.9235 17.1905 13.0432 16.493C13.1629 15.7955 13.5253 15.1628 14.0663 14.7066C14.6074 14.2505 15.2923 14.0003 16 14.0003C16.7077 14.0003 17.3926 14.2505 17.9337 14.7066C18.4747 15.1628 18.8371 15.7955 18.9568 16.493C19.0765 17.1905 18.9457 17.9079 18.5876 18.5183C18.2296 19.1287 17.6672 19.5929 17 19.8288ZM20 10H12V7C12 5.93913 12.4214 4.92172 13.1716 4.17157C13.9217 3.42143 14.9391 3 16 3C17.0609 3 18.0783 3.42143 18.8284 4.17157C19.5786 4.92172 20 5.93913 20 7V10Z" fill="#343330"/>
                                    </svg>  
                                </h3>
                            <% } else { %>
                                <h3 class="c-room__title"><%= room.name %></h3>
                            <% } %>
                       
                        <p class="c-room__players"><%= room.aantalusers %>/8 spelers</p>
                    </div>
                        <% if(room.password != null) { %>
                        <a class="c-button c-room__button js-joinroom" data-name="<%= room.name %>" data-locked="true">
                          Speel mee
                        </a>
                        <% } else { %>
                            <a class="c-button c-room__button js-joinroom" data-name="<%= room.name %>">
                                Speel mee
                            </a>
                        <% } %>
                </div>
                    <% }) %>
        <% } %>
    </div>
    <!-- <footer class="c-footer pagination" aria-label="Pagination">
        <ul class="pagination__list list-reset">
            <li class="pagination__item">
                <a href="#" class="pagination__link " aria-label="Vorige pagina">&laquo;</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link active">1</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">3</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link" aria-label="Volgende pagina">&raquo;</a>
            </li>
        </ul>
    </footer> -->
